h1{
    color: black;
    text-align: center;
}

p{
    font-size: 30px;
    color: green;
    text-align: center;
}

.contact{
    background-color: aqua;
    text-align: center;
    padding: 50px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

form{
    display: inline-block;
    text-align: left;
}
input,textarea{
    margin: 5px;
    display: block;
}
button{
    margin-left: 35%;
    padding: 5px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: darkblue;
}   

header{
    background-color: lightgray;
    padding: 10px 0;
    text-align: center;
}   

.services{
    background-color: aqua;
    text-align: center;
    padding: 50px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display:inline-block;
    
}